:root {
    --funtePrincipal: 'Rajdhani', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    --color1: #318CE7; 
    --colorEncabezadoTabla: #F3AD21;
    --colorFondo: #eceaea ;
    --blanco: #fff;
    --negro: #000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--colorFondo);
 }
 *, *::before, *::after {
     box-sizing: inherit;
 }
 body{
     font-family: var(--funtePrincipal);
     background-color: var(--colorFondo);
 }
 .contenido h1 {
     font-family: var(--fuenteSecundaria);
     font-size: 3rem;
 }
 p {
     margin: 0;
 }
 
.header {
    background-color: var(--color1);
    height: 20rem;
    background-size: cover;
    margin: 0;
}
.header__info {
    padding: 3rem;
    text-align: right;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--blanco);
    margin-right: 4rem;
}    
.header__info a  {
    text-decoration: none;
    color: var(--blanco);
}
.background-color {
    background-color: var(--blanco);
}
 .contenido {
     width: 120rem;
     margin: 0 auto;
 }
.contenido__login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-top: 15rem;
}
.contenido__imagen {
    background-image: url(../img/inventory-management-system.png);
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenido__formulario {   
    text-align: center;    
    border-left: 1px solid var(--color);    
}
.formulario {
    margin-left: 20rem;
    margin-top: 2rem;
    font-size: 3rem;      
}

legend {
    font-size: 3rem;
    margin: 0 0 10rem 0;
    font-size: 8rem;
    text-transform: uppercase;

}
.formulario__input {
    margin: 3rem ;    
    border-bottom: 1px solid black;  
}
.formulario__submit {
    text-align: right;
    margin-top: 2rem;
    outline: none;
}
.formulario__input--no {
    border: none;
    outline: none;
}
.formulario__submit--cambio {
    background-color: black;
    border-radius: 1rem;
    color: white;
    width: 20rem;
}

/*Principal*/
.table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: -2rem;
    background-color: var(--blanco);
    box-shadow: -1px 2px 13px 6px rgba(0,0,0,0.75);
}
tr th {
    font-family: var(--fuenteSecundaria);
}
th {
    background-color: var(--colorEncabezadoTabla);
    font-size: 2rem;    
}
th, td{
    width: 20%;
    text-align: center;
    vertical-align: top; 
    border: 1px solid #000;    
}
tbody tr {
    height: 3rem;
}
.contenido__table {
    margin-top: -2rem;
    border-radius: 5rem;
}
.contenedor__button {
    margin: -13rem 0 10rem 0;
}
.button {    
    width: 11%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
    font-family: var(--funtePrincipal);
    font-weight: 700;
}

/*REGISTRO DATOS*/
.form {    
    box-shadow: -1px 2px 13px 6px rgba(0,0,0,0.75);
    padding: 3rem;
    margin-top:8rem;
    background-color: var(--blanco);
}
.contenedor__div {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between; 
    width: 70%;
    margin: 0 auto;   
    padding: 1rem;
}
.tamaño__input {
    width: 80%;    
}
.boton__registro {
    margin-top: 5rem;
    display: block;
    justify-content: right;
}
.imagen__registro {
    margin-top: -2rem;
}
.titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.tamaño {
    font-size: 2rem;
}