
//Fuente
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$fuente-principal: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$black: 900; 

//Color
$azul: #324BD9;
$azulClaro: #4E63D9;
$negroClaro: #212940;
$gris: #5C6273;
$negro: #000;
$blanco: #fff;
$verde: #00d702;

//Media Queris
$telefono: 480px;
$tablet: 768px;


