.footer {
    position: fixed;
    bottom: 0;
    background-color: $azulClaro;
    padding: 3rem 0;
    width: 100%;
    p {
        font-weight: 400;
        color: $blanco;
        text-align: center;
        text-transform: initial;
        span {
            color: $blanco;
            font-size: 1.5rem;            
        }
    }
}