.footer {
    background-color: $gris;
    padding: 3rem 0;
    margin-top: 17.2rem;
    width: 100%;

    p {
        color: $blanco;
        text-align: center;
        text-transform: initial;
    }
}