.header {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 0;
    background-color: $azulClaro;
    padding: 5rem 0;
    height: 5rem;

    .logo {
        grid-column: 1 / 2;
        width: 10rem;
        height: 10rem;
        margin-left : 5rem;
        a picture img {
            border-radius: 50rem;
        }
    }
    
    .navegacion {
        grid-column: 2 / 3;
        background-color: $azulClaro;
        margin: -3rem auto 0 auto;         
        ul {
            width: auto;
            background-color: $azulClaro;
            display: flex;
            padding: 0;             
            li {
                list-style: none;
                display: block;
                margin-right: 3rem;
                
                ul {
                    display: none;
                    border: 1px solid red;    
                    li {
                        border: 1px solid green;
                    }
                }
                a {
                    color: $blanco;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: $azulClaro;
                        background-color: $verde;
                    }
                }
            }            
        } 
    }

    .header__info {
        grid-column: 3 / 4;
        display: flex;
        width: 40rem;
        align-content: flex-end;
        justify-content: space-between;
        margin: -3rem auto 0 auto;


        .cerrar-sesion a {
            color: $blanco;
            font-family: $fuente-principal;
            text-decoration: none;
            font-size: 1.5rem;
            &:hover {
            font-weight: 900;
            } 
        }
        p{
            margin-top: 1rem;
            color: $blanco;
            font-family: $fuente-principal;
            font-weight: 900;
            text-decoration: none;
            font-size: 2rem;
            line-height: 1;
        }
        span {
            font-weight: 400;
            color: $verde;
        }
    }

}

.navegacion ul li ul:hover, li {
    display: block;
    margin: 1px solid red;   
}
