.header {
    background-color: $azulClaro;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 12rem;
}
.header .header__info {
    margin: 5rem 10rem 0 0;

}
.header__info, p{
    margin-top: 1rem;
    color: $blanco;
    font-family: $fuente-principal;
    font-weight: 900;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
}

.header__info p span {
    font-weight: 400;
    color: $verde;
}

.navegacion {
    margin: 2rem 0 2rem 15rem;
    background-color: $azulClaro;
    margin-left: 25rem;
    ul {
        padding: 0;
        width: auto;
        border: 2px solid $verde;
        background-color: $azulClaro;
        border-radius: 1rem;
        padding: 1rem 0 1rem 0;
        li {
            list-style: none;
            display: block;
            padding: .8rem 2rem 0 0;
            line-height: 1;
            margin: auto;
            a {
                color: $blanco;
                padding: 0 2rem 0 1rem;
                text-decoration: none;
                margin: 0;
                display: flex;
                align-items: center;
                align-content: space-between;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;

                &:hover {
                    color: $azulClaro;
                    background-color: $verde;
                }
            }
        }
    }
}
.navegacion ul:hover  {
    border: 2px solid $verde;
}
.navegacion ul li:first-child {
    padding-top: 0;
}
.navegacion ul li:nth-child(4) {
    padding-bottom: 1rem;
}
a .titulo {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}
a .icono {
    font-size: 2.5rem;
    cursor: pointer;
}
.cerrar-sesion{
    color: $blanco;
    font-family: $fuente-principal;
    text-decoration: none;
    font-size: 1.5rem;
    &:hover {
        font-weight: 900;
    }
}
.navegacion li ul{
    position: absolute;
    left: 40rem;
    display: none;
}
.navegacion li:hover ul{
    display: block;
}
.logo a picture img {
    margin: 2rem 10rem 0 0 ;
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
}