
.tabla{
    width: 100%;
    border: 1px solid $negro;
    margin: 3rem 0 0 0;
    border-collapse: collapse;
    thead {
        background-color: $azulClaro;        
    }
    thead th {
        color: $blanco;
    }
    thead,
    tbody,
    th,
    td {
       text-align: center;       
       border: 1px solid $negro; 
    }
    .boton {
        display: block;
        margin-top: 1rem;        
        width: 100%;
        color: $negro;
        font-weight: $bold;
        font-family: $fuente-principal;
        border-radius: 2rem;
    }
    .boton-eliminar {
        background-color: red;    
    }
    .boton-actualizar {
        background-color: green;    
    }
    .resultado-imagen {
        width: 10rem;
        height: 10rem;
        margin: auto;
        &.resultado-imagen:hover {
            cursor: pointer;
        }
    }    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;
    

    display: grid;
    place-items: center;

    background-color: rbg(0 0 0 /.5);

    img {
        display: block;
        max-width: 60rem;
        max-height: 60rem;
    }
}

.btn-cerrar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $gris;
    color: $negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    margin-top: -15rem;

    &:hover{
        cursor: pointer;
    }
    
}