
.buscador {
    transform: translateY(5rem);
    input[type="text"] {
        height: 3rem;
        width: 25rem;
    }
    i {
        position: relative;
        right:3rem;  
        width: 2rem;
        height: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
    .buscar {
       transform: translateX(-11.5rem);
       background-color: transparent;
       border: none;
       padding-right: 3rem;
    }
}
.buscar:hover,i {
    color: $verde;
    cursor: pointer;
}
.tabla{
    width: 100%;
    border: 1px solid $negro;
    margin: 8rem 0 0 0;
    border-collapse: collapse;
    min-height: calc(100% - 4rem);
    thead {
        background-color: $azulClaro;        
    }
    thead th {
        color: $blanco;
    }
    thead,
    tbody,
    th,
    td {
       text-align: center;       
       border: 1px solid $negro;       
    }
    .boton {
        display: block;
        margin-top: 1rem;        
        margin-bottom: 1rem;  
        width: 12rem;
        height: 5rem;
        color: $negro;
        font-weight: 500;
        font-family: $fuente-principal;
        font-size: 2rem;
        border-radius: 2rem;
        text-decoration: none;
        text-align: center;    
        border: 1px solid $gris;
        height: 3rem;
        &:hover {
            cursor: pointer;
        }
    }
    .boton-eliminar {
        background-color: red;    
    }
    .boton-actualizar {
        background-color: $verde;   
    }
    .resultado-imagen {
        width: 10rem;
        height: 10rem;
        margin: auto;
        &.resultado-imagen:hover {
            cursor: pointer;
        }
    }    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;
    

    display: grid;
    place-items: center;

    background-color: rbg(0 0 0 /.5);

    img {
        display: block;
        max-width: 60rem;
        max-height: 60rem;
    }
}

.btn-cerrar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $azulClaro;
    color: $negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    margin-top: -15rem;

    &:hover{
        cursor: pointer;
    }
    
}
.imagen-small {
    width: 15rem;
}
.orden .bloque {
    align-items: center;
}
.orden .ancho { 
    width: 40%;
}
.datos__registros p {
    color: $negro;
}
.paginador {
    margin: 5rem auto 0 auto;
    .anterior {        
        margin-right: .5rem;
        a {            
            text-decoration: none;
            color: $negro;
        }
    }
    .pagina {
        a {   
            margin-right: .5rem;         
            text-decoration: none;
            color: $negro;
        }
    }
    .siguiente {
        a {            
            text-decoration: none;
            color: $negro;
        }
    }
}

.datos__registros span { 
    font-weight: 900;
    margin-left: 1rem;
}
.datos__registros p { 
    font-size: 1.5rem;
    font-weight: 400;
}
.accion {
    margin: 0 auto;
}
.accion form input,a {
    margin: auto auto;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10rem;
    background-color: $rojo;
    padding: 1rem;
    color: $negro;
    font-weight: 400;
    border-radius: 50rem;
}
